/* ============================================= */
/*              Images                           */
/* ============================================= */

.img-avatar {
  @include img-base;
  max-height: 100%;
}

.img-frame {
  @include img-base;
  padding: 13px;
  border: 1px solid $gray;
}

.img-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  @include mq(med) {
    margin-left: initial;
    margin-right: initial;
  }
}
